body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: gray;
    }


        
head {
    background-color: gray;
    padding: 40px;
    text-align:center;
    width:fit-content ;height: fit-content;
    position: fixed;
    }

#retroceder {
    position: fixed;
    top:10px;
    left:10px;
    background-color: #e80c0c;
}


h1 {
    background-color: greenyellow;
    font-size: 100px;
    text-align: center;
    width: 855px;
    height: 150px;
    position: relative;
    top:10px;
    left: 500x;
    }

#contene{
    background-color: rgb(255, 217, 171);
    width: 855px;
    height: 1300px;
    display: flex;
    justify-content: space-between;
    
    
    }

#recuadroazul1 {
    background-color: rgb(16, 60, 86);
    width:750px ;
    height: 300px;
    position:relative ;
    top: 20px;
    left: 2%
}


#recuadroazul2 {
    background-color: rgb(16, 60, 86);
    width:750px ;
    height: 300px;
    position:relative ;
    top: 30px;
    left: 2%
}
#recuadroazul3 {
    background-color: rgb(16, 60, 86);
    width:750px ;
    height: 300px;
    position:relative ;
    top: 40px;
    left: 2%

}

#recuadroazul4{
    background-color: rgb(16, 60, 86);
    width:750px ;
    height: 300px;
    position:relative ;
    top: 50px;
    left: 2%
}

#p {
    color: white;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    position: relative;top:60px;left:10px
}
#p2{
    color: white;
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    position: relative;top:70px;left:10px

}

#recuadroblanco{
    background-color: white;
    width: 400px;
    height: 140px;
    position: relative;top:75px;left:10px;
    text-align: center;

}

#recuadroblanco2 {
    background-color: white;
    width: 270px;
    height: 250px;
    position: relative;
    top:-175px;left:450px
}

#lineaseparadora{
    position: relative;top:10%; left: 2%;
    width:700px; height:50px ;
    background-color: rgb(255, 217, 171) ;
    text-align: center; color: rgb(255, 217, 171)
}
