<!--El siguiente codigo te muestra como mostrar los datos de la base de datos en una tabla-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
 <h1>Mostrando Dataxos</h1>

 <!-- Pa Mostrar Los Lugares-->
{% if dataLugares %}
 <h1>Lugares</h1>
 <h3>{{dataLugares}}</h3>
 <table>
     <tr>
         <th>Nombre</th>
         <th>Lugar</th>
         <th>Imagen</th>
         <th>Categoria</th>
     </tr>
 <tr>
     {%for lugar in dataLugares %}
     {% if lugar.placeCategory == "cat2"%}
     <td>{{lugar.placeName}}</td>
     <td>{{lugar.location}}</td>
     <td>{{lugar.placeImage}}</td>
     <td>{{lugar.placeCategory}}</td>
     {% endif%}
 </tr>
     {% endfor %}
</table>
{% else %}
 <h1>No Hay lugares</h1>
{% endif %}

<!-- Pa Mostrar Las Cosas -->
<h1>Objetos</h1>
<h3>{{dataObjetos}}
{% if dataObjetos %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Imagen</th>
    </tr>
<tr>
    {%for objeto in dataObjetos %}
    <td>{{objeto.objectName}}</td>
    <td>{{objeto.objectCategory}}</td>
    <td>{{objeto.objectImage}}</td>
</tr>
    {% endfor %}
</table>
{%else%}
<h1>No hay lugares</h1>
{% endif%}
</body>
</html>